* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ffffff;
}

.row:after {
  content:"";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: auto;
}

nav {
  background-color: #f4f9fd;
}

nav ul {
  list-style: none;
  display: inline-block;
  line-height: 90px;
}

nav ul li {
  display: inline-block;
}

.list-nav li:nth-child(3) {
  margin-right: 10px;
}

.container .grey_left li:last-child {
  margin-left: 10px;
}

.grey_right li a:last-child {
  margin-left: 10px;
}

.grey_left > li > a {
  text-decoration: none;
  color: #32495b;
}

.nav_grey {
  border-bottom: 1px solid black;
  height: 90px;
}

.grey_right {
  float: right;
}

.grey_right i {
  color: #00a4bd;
  margin-right: 15px;
  text-decoration: none;
}

.grey_right > .orange {
  text-decoration: none;
  color: #ffffff;
}

.button {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.white {
  background-color: #ffffff;
  color: #fe775a;
  border: 1px solid #fe775a;
}

.orange {
  background-color: #fe775a;
  color: white;
}

.orange > a {
  text-decoration: none;
  color: #ffffff;
}

.nav_white {
  height: 90px;
  background-color: #ffffff;
}

.logo {
  vertical-align: middle;
  display: inline-block;
  line-height: 90px;
}

.white_right {
  float: right;
}

.white_right > li > a {
  color: #32495b;
  text-decoration: none;
}

.white_right li {
  margin-right: 15px;
  line-height: 100px;
}

.white_right li i {
  margin-left: -10px;
}

.jumbo_bg {
  background-color: #fff4ef;
  height: 741px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 100% 0;
  position: relative;
}

.jumbo_bg > .container {
  height: 741px;
}

.green100 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  background-color: #afebe4;
}

.jumbo_text {
  margin-right: 60%;
}

.jumbo_title {
  padding-top: 50px;
  margin-bottom: 30px;
}

.jumbo_title > h1 {
  font-size: 50px;
  color: #33475b;
}

.jumbo_subtitle > p {
  color: #33475b;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 30px;
}

.jumbo_text > .button {
  display: inline-block;
  padding: 20px 20px;
  margin-bottom: 30px;
}

.jumbo_text > .button > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.jumbo_subtext > p {
  color: #33475b;
  font-size: 12px;
}

.midsection > img {
  display: block;
  width: 250px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.midsection_text {
  margin-left: 20%;
  margin-right: 20%;
}

.midsection_text > h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #33475b;
}

.midsection_text > p {
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  color: #33475b;
}

.container_row {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.row {
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(to right top, #fff3ee, #fff5f5, #fff9fb, #fefcfe, #ffffff);
}

.col {
  float: left;
}

.w100 {
  width: 100%;
}

.w30 {
  width: 30%;
}

.img_book > img {
  height: 100px;
  display: block;
  margin: auto;
}

.crmbutton {
  display: inline-block;
  padding: 20px 30px;
  margin-top: 14px;
}

.img_book {
  padding-bottom: 10px;
}

.w70 {
  width: 70%;
}

.w33 {
  width: calc(100% / 3);
  background-color: #ffffff;
  padding: 40px 0;
}

.col-left {
  padding-left: 0;
  padding-right: 45px;
}

.col-right {
  padding-right: 0;
  padding-left: 45px;
}

.col-center {
  padding: 40px 30px;
}

.crm {
  margin-top: 50px;
}

.crm_subtitle {
  display: inline-block;
}

.text_w70 {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 255px;
  padding-left: 70px;
}

.crm_title > h3 {
  font-size: 25px;
  margin-bottom: 25px;
  color: #33475b;
}

.crm_subtitle > h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #33475b;
}

.crm_text > p {
  line-height: 30px;
  margin-bottom: 10px;
  color: #33475b;
}

.text_w70 > hr {
  width: 470px;
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 5px;
  color: #33475b;
}

.list_w70 > ul {
  list-style: none;
  display: inline-block;
}

.list_w70 ul li {
  display: inline-block;
  color: #33475b;
}

.list_w70 ul .first {
  margin-left: -15px;
}

.fa-check-circle {
  margin-right: 10px;
  margin-left: 15px;
  color: #fe775a;
}

.content-w30 {
  text-align: center;
  padding: 82px 30px;
}

.content-w30 > img {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.content-w33 {
  padding-right: 15px;
  background-color: #ffffff;
  text-align: center;
  padding: 50px 50px;
  background-image: linear-gradient(to right top, #fff3ee, #fff5f5, #fff9fb, #fefcfe, #ffffff);
  border-radius: 10px;
}

.content-w33 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 100px;
}

.content-w33 > h3 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 35px;
  color: #33475b;
}

.content-w33 > p {
  font-size: 14px;
  margin-bottom: 50px;
  line-height: 30px;
  color: #33475b;
}

.content-w33 > h4 {
  margin-top: 25px;
  font-size: 20px;
  text-transform: uppercase;
  color: #33475b;
}

.content-w33 > ul {
  margin-top: 25px;
  list-style: none;
  text-align: left;
}

.content-w33 ul li {
  color: #33475b;
}

.content-w33 > a {
  margin-top: 35px;
  margin-bottom: 35px;
}

.text-blue {
  padding-top: 35px;
  padding-bottom: 35px;
}

.w100 > h3 {
  font-size: 37px;
  padding-bottom: 25px;
}

.w100 > p {
  line-height: 30px;
  padding-bottom: 25px;
}

.background_blue {
  background-image: linear-gradient(to right, #00a4bc, #00aaba, #00b0b5, #00b6af, #00bba6);
  text-align: center;
  color: #ffffff;
  padding: 25px 25px;
}

.w20 {
  background-color: none;
  width: calc(100% / 4);
}

.row_blue {
  height: 100%;
}

.row_blue:after {
  content:"";
  display: table;
  clear: both;
}

.content-w20 {
  text-align: center;
}

.up {
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.down {
  border-right: 1px solid #ffffff;
  margin-bottom: 30px;
}

.fourth {
  border-right: none;
}

.content-w20 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100px;
  height: 40px;
}

.content-w20 > span {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.content-w20 span:after {
  content: '+'
}

.content-w20 > p {
  padding-top: 20px;
  padding-bottom: 30px;
}

.row-white:after {
  content:"";
  display: table;
  clear: both;
}

.col-left-white, .col-right-white {
  float: left;
}

.col-left-white {
  padding: 40px 115px;
}

.col-left-white > h3 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #33475b;
}

.col-left-white > p {
  line-height: 30px;
  color: #33475b;
}

.col-right-white {
  padding-top: 50px;
  padding-left: 170px;
  padding-right: 100px;
}

.row-logo:after {
  content:"";
  display: table;
  clear: both;
}

.col-logo {
  float: left;
  width: calc(100% / 4);
}

.col-logo {
  line-height: 70px;
}

.col-logo > img {
  width: 70%;
  margin: auto;
  line-height: 70px;
  vertical-align: middle;
}

.bottom {
  margin-top: 50px;
}

.w50 {
  width: calc(100% / 2);
}

.col-left-white-bottom, .col-right-white-bottom {
  float: left;
}

.col-left-white-bottom {
  padding-right: 12%;
}

.col-right-white-bottom {
  position: relative;
}

.w50 > img {
  width: 40%;
  position: absolute;
  top: 0;
  right: 10%;
}

.text-w50 > h1 {
  font-size: 37px;
  color: #33475b;
  margin-bottom: 30px;
}

.text-w50 > h3 {
  font-weight: normal;
  color: #33475b;
  line-height: 30px;
  margin-bottom: 50px;
}

.text-w50 > a {
  padding: 20px 30px;
}

.text-w50 > p {
  margin-top: 50px;
  font-size: 12px;
  color: #33475b;
}

footer {
  margin-top: 50px;
  background-color: #32495b;
  padding-bottom: 50px;
}

.row-footer:after {
  content:"";
  display: table;
  clear: both;
}

.col-footer {
  float: left;
}

.languages {
  margin-top: 20px;
}

.col-footer ul {
  list-style: none;
}

.col-footer ul li,a {
  text-decoration: none;
  color: #ffffff;
}

.col-footer ul li:not(.head) {
  margin-bottom: 20px;
}

.head {
  margin: 20px 0;
}

.col-footer > .button {
  background-color: #ffffff;
  color: #32495b;
  display: inline-block;
  margin-top: 10px;
}

.social-network {
  margin-top: 20px;
}

.social-network  li {
  display: inline-block;
  margin-right: 20px;
}

.footer-text-100 {
  margin: auto;
  width: 80%;
  text-align: center;
}

.footer-text-100 ul li {
  display: inline-block;
  margin: 0 10px;
}

.left-side {
  float: left;
}

.left-side i,p {
  color: #ffffff;
}

.left-side p {
  margin-top: 10px;
}

.right-side {
  float: right;
}

.right-side ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.right-side ul li a {
  color: #ffffff;
}

.policy {
  margin-top: 20px;
}
