* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.row:after {
  content:"";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: auto;
}

nav {
  background-color: #f4f9fd;
}

nav ul {
  list-style: none;
  display: inline-block;
  line-height: 90px;
}

nav ul li {
  display: inline-block;
}

.container ul li:nth-child(3) {
  margin-right: 10px;
}

.container .grey_left li:last-child {
  margin-left: 10px;
}

.grey_right li a:last-child {
  margin-left: 10px;
}

.grey_left > li > a {
  text-decoration: none;
  color: #32495b;
}

.nav_grey {
  border-bottom: 1px solid black;
  height: 90px;
}

.grey_right {
  float: right;
}

.grey_right i {
  color: #00a4bd;
  margin-right: 15px;
  text-decoration: none;
}

.button {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.white {
  background-color: #ffffff;
  color: #fe775a;
  border: 1px solid #fe775a;
}

.orange {
  background-color: #fe775a;
  color: #ffffff;
}

.nav_white {
  height: 90px;
  background-color: #ffffff;
}

.logo {
  vertical-align: middle;
  display: inline-block;
  line-height: 90px;
}

.white_right {
  float: right;
}

.white_right > li > a {
  color: #32495b;
  text-decoration: none;
}

.white_right li {
  margin-right: 15px;
  line-height: 100px;
}

.white_right li i {
  margin-left: -10px;
}

.jumbo_bg {
  background-color: #fff4ef;
  height: 741px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 100% 0;
  position: relative;
}

.green100 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  background-color: #afebe4;
}

.jumbo_text {
  margin-right: 60%;
}

.jumbo_title {
  padding-top: 50px;
  margin-bottom: 30px;
}

.jumbo_title > h1 {
  font-size: 50px;
  color: #33475b;
}

.jumbo_subtitle > p {
  color: #33475b;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 30px;
}

.jumbo_text > .button {
  display: inline-block;
  padding: 20px 20px;
  margin-bottom: 30px;
}

.jumbo_text > .button > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.jumbo_subtext > p {
  color: #33475b;
  font-size: 12px;
}
